<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Budget Tracker</title>
</head>
<body>
     <header>
       <h1> Приветствую!!</h1>
       <h2> <a href="admin/">Админка</a> </h2>
       <h2> <a href="auth/sign-up/">Регистрация</a> </h2>
       <h2> <a href="auth/sign-in/">Авторизация</a> </h2>
       <h2> <a href="auth/refresh/">Refresh token</a> </h2>
       <h2> <a href="balances/">Баланс</a> </h2>
       <h2> <a href="incomes/">Доходы</a> </h2>
       <h2> <a href="expenses/">Расходы</a> </h2>
       <h2> <a href="schema/swagger-ui/">Swagger-UI</a> </h2>
       <h2> <a href="schema/redoc/">Redoc</a> </h2>
     </header>
</body>
</html>